<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    {{ if .DevMode }}
        <link href="style/global.css?v={{ .TimeStamp}}" rel="stylesheet">
    {{ else }}
        <link href="style/global.css" rel="stylesheet">
    {{ end }}

    <title>RWID Platform</title>
</head>
<body>

<!-- Navigasi Utama -->
<nav class="p-1 text-white rwid-background fixed top-0 left-0 z-50 w-full">
  <div class="container mx-auto flex justify-between items-center">
      <!-- TODO tambahkan logo RWID di depan -->
      <span class="flex items-center mx-auto"><img class="w-8 h-8 mr-2" src="static/img/logo.png"/>Remote Worker Indonesia</span>
        <!--     <div id="menuItems" class="hidden md:block">
          <a href="/" class="ml-4">Home</a>
        </div>-->
      <div id="mobileMenu" class="md:hidden relative">
          <button id="menuButton" class="text-white hover:text-gray-200 focus:outline-none flex items-center">
            {{ if not .IsLoggedIn}}
              <img src="https://via.placeholder.com/20" alt="Avatar" class="rounded-full" /> <!-- Ganti URL gambar sesuai kebutuhan -->
            {{ else }}
              <img src="{{ .Photo}}" alt="Avatar" class="rounded-full w-5 h-5" /> <!-- Ganti URL gambar sesuai kebutuhan -->
            {{ end }}
          </button>
          <!-- Menu Popup -->
          <div id="popupMenu" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-50">
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Dashboard</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Courses</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Affiliate</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">VIP Return</a>
          </div>
      </div>        
  </div>
</nav>






<!-- <nav class="bg-green-500 p-4 text-white rwid-background">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-xl font-semibold">Remote Worker Indonesia</h1>
          <div >
          </div>
        <div id="menuItems" class="hidden md:block">
            <a href="#" class="ml-4">Home</a>
            <a href="#" class="ml-4">About</a>
            <a href="#" class="ml-4">Contact</a>
        </div>
        <div id="mobileMenu" class="md:hidden">
            <button id="menuButton" class="text-white hover:text-gray-200">
                <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-full" /> 
            </button>
        </div>        
    </div>
</nav> -->

<script>
// JavaScript
var menuButton = document.getElementById('menuButton');
var menuItems = document.getElementById('menuItems');

menuButton.addEventListener('click', function() {
  event.stopPropagation();
  document.getElementById('popupMenu').classList.toggle('hidden');
    // if (menuItems.style.display === 'block') {
    //     menuItems.style.display = 'none';
    // } else {
    //     menuItems.style.display = 'block';
    // }
});

document.addEventListener('click', function(event) {
  var popupMenu = document.getElementById('popupMenu');
  // Cek apakah klik terjadi di luar popupMenu dan menuButton
  if (!popupMenu.contains(event.target) && !document.getElementById('menuButton').contains(event.target)) {
    if (!popupMenu.classList.contains('hidden')) {
      popupMenu.classList.add('hidden');
    }
  }
});
</script>

<!-- Swiper -->
<div class="swiper-container relative mt-8">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
          <img src="static/img/1.jpeg" alt="Thumbnail 1" class="w-full object-cover h-48" />
      </div>
      <div class="swiper-slide">
          <img src="static/img/2.jpeg" alt="Thumbnail 2" class="w-full object-cover h-48" />
      </div>
      <div class="swiper-slide">
          <img src="static/img/3.jpg" alt="Thumbnail 3" class="w-full object-cover h-48" />
      </div>
      <div class="swiper-slide">
          <img src="static/img/4.jpeg" alt="Thumbnail 4" class="w-full object-cover h-48" />
      </div>
    </div>
    <!-- Pagination, Navigation, and Scrollbar -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev absolute top-1/2 left-0 transform -translate-y-1/2 z-10 opacity-0" aria-label="Previous slide"></div>
    <div class="swiper-button-next absolute top-1/2 right-0 transform -translate-y-1/2 z-10 opacity-0" aria-label="Next slide"></div>
    <div class="swiper-scrollbar"></div>
</div>

<div id="content" class="p-5">
{{template "content" .}}
</div>

<!-- Footer -->
<footer class="bg-green-500 text-white py-6" style="background-color: #008172;">
    <div class="container mx-auto text-center">
        <p>&copy; 2023 Remote Worker Indonesia. All rights reserved.</p>
    </div>
</footer>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';  
    // Pastikan DOM sudah siap sebelum menginisialisasi Swiper
    document.addEventListener('DOMContentLoaded', (event) => {
      const swiper = new Swiper('.swiper-container', {
        // Opsi konfigurasi
        loop: true,
        pagination: {
          el: '.swiper-pagination',
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
      });
    });
</script>
  
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-analytics.js";
    import { getAuth, GoogleAuthProvider, signInWithPopup } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";
  
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    // TODO: apa bener di halaman HTML ini ya? Apa ga lebih baik diluar? Bisa gak nanti ini dipakai orang lain?
    const firebaseConfig = {
      apiKey: "AIzaSyDpEElh_spfDY6XWCTFPQorbcfVkKtap6c",
      authDomain: "golangbackend-2cc64.firebaseapp.com",
      projectId: "golangbackend-2cc64",
      storageBucket: "golangbackend-2cc64.appspot.com",
      messagingSenderId: "657570454391",
      appId: "1:657570454391:web:231f399995a309c2691f72",
      measurementId: "G-1MXVQDR0RL"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);

    // Mendapatkan instance Auth
    const auth = getAuth();
  
    // Menangani tindakan klik pada tombol login
    // jika berhasil, server harus diberitahu kalau user ini berhasil login
    // caranya adalah dengan mempersiapkan variable session yang berisi
    // isLoggedIn == true
    document.addEventListener("DOMContentLoaded", function() {
        const loginButton = document.getElementById('loginButton');
        loginButton.addEventListener('click', () => {
            const provider = new GoogleAuthProvider();
            signInWithPopup(auth, provider)
                .then((result) => {
                    // Handle hasil login berhasil di sini (misalnya, redirect atau menampilkan info pengguna)
                    // console.log('Login berhasil', result.user);
                    // Dapatkan token ID
                    // const token = result.user.getIdToken();
                    console.log(result.user);
                    result.user.getIdToken().then(token => {
                        console.log('token', JSON.stringify({ token: token }));
                        fetch("/verify-token", { //TOASK: kenapa harus diverify? GPT: Best practice keamanan
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ 
                              token: token, 
                              name: result.user.displayName,
                              email: result.user.email,
                              photoURL: result.user.photoURL,
                            }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === "success") {
                                // Redirect ke /dashboard jika status adalah success
                                window.location.href = "/daftar";
                            } else {
                                // Handle kasus ketika status bukan success
                                console.error('Login tidak berhasil atau status bukan success');
                            }
                        })
                        .catch((error) => {
                            console.error('Error:', error); //TODO: handler lebih baik
                        });

                    }).catch(error => {
                        console.error('Error getting token:', error); //TODO: handler lebih baik
                    });
                })
                .catch((error) => {
                    // Handle error login di sini (misalnya, menampilkan pesan kesalahan)
                    console.error('Login gagal', error);
                });
        });
    });
  </script>

<script>//TODO pisahkan ke file JS tersendiri

function togglePopup() {
  const popupWrapper = document.getElementById("popupWrapper");
  popupWrapper.style.display = popupWrapper.style.display === "none" ? "block" : "none";
}

function closePopup(event) {
  // Cek jika yang diklik adalah pembungkus, bukan popup itu sendiri
  if (event.target.id === "popupWrapper") {
    togglePopup(); // atau langsung set display:none; tergantung implementasi
  }
}

function togglePopup2() {
  const popupWrapper = document.getElementById("popupWrapper2");
  popupWrapper.style.display = popupWrapper.style.display === "none" ? "block" : "none";
}

function closePopup2(event) {
  // Cek jika yang diklik adalah pembungkus, bukan popup itu sendiri
  if (event.target.id === "popupWrapper2") {
    togglePopup2(); // atau langsung set display:none; tergantung implementasi
  }
}

function togglePopup3() {
  const popupWrapper = document.getElementById("popupWrapper3");
  popupWrapper.style.display = popupWrapper.style.display === "none" ? "block" : "none";
}

function closePopup3(event) {
  // Cek jika yang diklik adalah pembungkus, bukan popup itu sendiri
  if (event.target.id === "popupWrapper3") {
    togglePopup3(); // atau langsung set display:none; tergantung implementasi
  }
}


function togglePopup4() {
  const popupWrapper = document.getElementById("popupWrapper4");
  popupWrapper.style.display = popupWrapper.style.display === "none" ? "block" : "none";
}

function closePopup4(event) {
  // Cek jika yang diklik adalah pembungkus, bukan popup itu sendiri
  if (event.target.id === "popupWrapper4") {
    togglePopup4(); // atau langsung set display:none; tergantung implementasi
  }
}
  </script>
</body>
</html>
